body{
  margin:0px;
  padding:0px;
  background-color:#34495e;
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}
#clock-title{
  color:white;
  text-align:center;
  font-size: 70px;
}
.js-form > input, .js-toDoForm> input{
  background: none;
  color:white;
  border:0px;
  padding:15px 30px;
  border-bottom:2px solid white;
  font-size:20px;
  text-align: center;
}
::placeholder{
  color:white;
  font-size:20px;
  font-weight:600;
}
/* .greeting, .js-toDoList css 변경 */
.greetings{
  color:white;
  text-align: center;
  display:none;
}
.js-toDoList{
  padding:0px;
}
.js-toDoList > li{
  list-style-type: none;
  display:flex;
  justify-content: center;
  align-items: center;
  color:white;
}
button{
  margin-top: 5px;
  margin-right:10px;
}
/* 이름 입력 시 .js-form display 속성값 none처리 */
.js-form{
  display:none;
}
.showing{
  display:block;
}